.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;

  h3 {
    color: var(--text-color);
    font-weight: 500;
  }

  p {
    color: var(--text-color-alt); 
    font-size: var(--h5);
  }
}

.featureSvg {
  height: 200px;
  width: 200px;
}
